.channels-container {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  min-height: 480px;
  min-width: 800px;
  grid-template-columns: 124px 1fr;

  .channels {
    display: grid;
    gap: 8px;
    align-content: start;
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
  }
}
